$success: rgba(199, 242, 130, 0.698);
$warning: rgba(241, 230, 131, 0.698);
$error: rgba(240, 127, 127, 0.698);
$charcoal: rgba(204, 204, 204, 0.698);

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 25%;
  width: 50%;
  z-index: 1;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.card {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
  border: 10px solid #072E44;
  padding: 4px 0;
  margin: 4px;
  width: 32%;
  text-align: center;
  color: #ffffff;
  background-color: #235f80;
}

.review {
  border: 10px solid #339cb5;
  background-color: #ffffff;
  color: #072E44;

}

.container, .request-row {
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  border: 60px solid #072E44;
  width: 100vw;
  max-width: 99vw;
  height: 100vw;
}

button {
  background-color: #072E44;
  color: #ffffff;
  border: 1px solid #072E44;
  margin: 5px;
  padding: 5px;
}

.text-area{
  background-color: white;
  color: #072E44;
  display: inline;
}

.title {
  font-size: x-large;
}

.details {
  font-size: large;
}
